html {
  height: 100%;
  width: 110%;
}
body{
  background-color:	#9CABCC;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between; /* Izvieto attēlu pa kreisi, tekstu pa labi */
  align-items: flex-start;        /* Izlīdzina elementus augšējā līnijā */
  padding: 10px;
}

.logo-bloks {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Izlīdzina attēlu un tekstu vertikāli */
 margin: 0px;
  margin-right: 0px;   /* Atstarpe starp attēlu un tekstu */
}


.header-img {
  width: 400px;
  height: 200px;
  padding-top: 0px;
  margin-left: -45px;
  margin-bottom: -40px;
  margin-top: -50px;
  margin-right: -10px;
}

.zem-logo {
  margin-top: 0px;
  font-size: 25px;
  margin-left: 10px;
}

.sakums-item{
  color: #EA4335;
}

.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  display: flex;
  gap: 20px;
}

.inline-list {
  list-style: none; /* Noņemt aizzīmes */
  padding: 0px; /* Noņemt iekšējo atkāpi */
  margin: 20px; /* Noņemt ārējo atkāpi */
  display: flex; /* Izkārto vienā rindā */
  gap: 90px; /* Attēlums starp vienumiem */
  font-size: 30px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 40px;
  background-color: #9CABCC;
  margin-top: -50px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin
}

.box {
  background-color: #D9D9D9;
  height: 210px;
  width: 260px;
}
.box img {
  width: 100%;
  height: 210px;
  margin-bottom: 10px;
}

.video-block {
  width: 100%;
  max-width: 600px;
}

.footer {
  bottom: 0;
  left: -2px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 98%;
  padding: 20px;
  background-color: #FFE1E1;
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
}